# IDE files project settings #
*.iml
*.ipr
*.iws
**/.idea/*
**/.idea

**/.classpath
**/.project
**/.settings/org.eclipse.core.resources.prefs
**/.settings/org.eclipse.jdt.core.prefs
**/.settings/org.eclipse.m2e.core.prefs

#generated
*.log

# personal #
todos.txt

# generated and bundled artefacts #
target
target/**/*

# npm dependencies #
frontend/node_modules

# external libs (managed by bower and gulp) #
frontend/src/lib



frontend/src/resources/less/bootstrap