<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <img src="resources/img/user2-160x160.jpg" class="user-image" alt="User Image"/>
</a>
<ul class="dropdown-menu">
    <!-- User image -->
    <li class="user-header">
        <img src="{avatar}" class="img-circle" alt="Avatar" />
        <p data-bind="text: userkey">
            <small data-bind="text: 'Member since ' + tsJoined"></small>
        </p>
    </li>
    <!-- Menu Body -->
    <li class="user-body">
        <div class="col-xs-4 text-center">
            <a href="#">Medical Record</a>
        </div>
        <div class="col-xs-4 text-center">
            <a href="#">Support Groups</a>
        </div>
        <div class="col-xs-4 text-center">
            <a href="#">Settings</a>
        </div>
    </li>
    <!-- Menu Footer-->
    <li class="user-footer">
        <div class="pull-left">
            <a href="#" class="btn btn-default btn-flat">Profile</a>
        </div>
        <div class="pull-right">
            <a href="#" class="btn btn-default btn-flat">Sign out</a>
        </div>
    </li>
</ul>